@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*@model DonateMedicine.Models.Donation*@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Donation> AllDonations = ViewBag.AllDonations as List<Donation>;
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    tr,th{
        border:1px solid black;
        min-width: 150px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col lg-4">
            <h3 class="text-dark"><label>All Donor Details</label></h3>
            <br />
            <table>
                <tr>
                    <th><label>Medicine Category</label></th>
                    <th><label>Medicine Name</label></th>
                    <th><label>Donate Quantity</label></th>
                    <th><label>Donor Name</label></th>
                    <th><label>PickUp Address</label></th>
                    <th><label>Donated Date</label></th>
                </tr>
                @if (AllDonations.Count > 0)
                {
                @for(int i =0; i < AllDonations.Count(); i++)
                {
                    string medCategory = String.Format("medCategory{0}", i + 1);
                    string medName = String.Format("medName{0}", i + 1);
                    string medQty = String.Format("medQty{0}", i + 1);
                    string donorName = String.Format("donorName{0}", i + 1);
                    string pickupAddress = String.Format("pickupAddress{0}", i + 1);
                    string donatedDate = String.Format("donatedDate{0}",i+1);
            <tr>
                <td><label id="@medCategory">@AllDonations[i].MedicineCategory</label></td>
                <td><label id="@medName">@AllDonations[i].MedicineName</label></td>
                <td><label id="@medQty">@AllDonations[i].DonationQuantity</label></td>
                <td><label id="@donorName">@AllDonations[i].DonorName</label></td>
                <td><label id="@pickupAddress">@AllDonations[i].PickupAddress</label></td>
                <td><label id="@donatedDate">@AllDonations[i].DonatedDate.ToString("dd/MM/yyyy")</label></td>
            </tr>
                }
            }
            </table>
            @if(AllDonations.Count == 0)
            {
                <label id="noData" style="text-align:center"> No Data Found</label>
            }
        </div>
    </div>
</div>
